<!-- Resumen de Compra -->
<div class="px-4 mt-20">
    <div class="bg-black text-white py-4 rounded-t-lg flex justify-center items-center">
        <h2 class="text-sm sm:text-base md:text-lg lg:text-xl roboto-bold">RESUMEN DE COMPRA</h2>
    </div>
    <div class="bg-neutral-300 p-4">
        <p class="text-sm sm:text-base md:text-lg mb-2">
            <span class="roboto-bold">PRODUCTOS TOTALES:</span> {{carritoService.cantidad()}} unidades
        </p>
        <p class="text-sm sm:text-base md:text-lg mb-2">
            <span class="roboto-bold">PRECIO TOTAL:</span> S/ {{ carritoService.total()}}
        </p>
        <div *ngFor="let item of listcarrito">
            <p class="text-sm sm:text-base md:text-lg mb-2">
                <span class="roboto-bold">PRODUCTO:</span> {{ item.producto.productoNombre }} 
            </p>
        </div>
    </div>
</div>